<h1>Busca colegio</h1>

<%= form_for @search do |f| %>
	<div class="field">
		<%= f.label :state, t("Departamento") %>
		<%= f.select :state, ["ANTIOQUIA","ATLANTICO", "BOGOTA D.C.", "BOLIVAR", "SANTANDER", "VALLE DEL CAUCA"],include_blank: true %>
	</div>
	<div class="field">
		<%= f.label :city, t("Ciudad") %>
		<%= f.select :city, ['BOGOTA D.C.', 'BARRANQUILLA', 'MEDELLIN', 'CALI', 'BUCARAMANGA', 'CARTAGENA'],include_blank: true %>
	</div>
	<div class="field">
		<%= f.label :gender, t("Género") %>
		<%= f.select :gender, ['MASCULINO', 'FEMENINO', 'MIXTO'],include_blank: true %>
	</div>

 	<div class="field">
		<%= f.label :languages %>
		<%= f.select :languages, ['INGLES', 'FRANCES'],include_blank: true %>
	</div>
 	<div class="field">
		<%= f.label :owner, t("Tipo de dueño") %>
		<%= f.select :owner, ['PERSONA NATURAL', 'COMUNIDAD RELIGIOSA', 'FUNDACION'],include_blank: true %>
	</div>
 	<div class="field">
		<%= f.label :cycle, t("Calendario") %>
		<%= f.select :cycle, ['A', 'B', 'OTRO'],include_blank: true %>
	</div>
 	<div class="field">
		<%= f.submit "Buscar"%>
	</div>
<%end %>
