<% @search.schools.each_slice(3) do |results| %>
  <div class="row">
    <% results.each do |school| %>
     <div class="col-md-4">
      <div class="card-body">
        <h4 class="card-title" data-latitude="<%=school.latitude%>" data-longitude="<%=school.longitude%>" ><%= school.school_name %></h4>
        <p class="card-text"><%= school.address %></p>
        <p class="card-text"><%= school.coords %></p>
      </div>
     </div>
    <% end %>
  </div>
 <% end %>		

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<h1>Mapa</h1>
		<div id="map"></div>
	</div>
	<div class="col-md-3"></div>
</div>


