<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :school_state %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :school_city %>
  </div>

  <div class="field">
    <%= form.label :school_name %>
    <%= form.text_field :school_name, id: :school_school_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :school_address %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :school_gender %>
  </div>

  <div class="field">
    <%= form.label :levels %>
    <%= form.text_field :levels, id: :school_levels %>
  </div>

  <div class="field">
    <%= form.label :school_hours %>
    <%= form.text_field :school_hours, id: :school_school_hours %>
  </div>

  <div class="field">
    <%= form.label :languages %>
    <%= form.text_field :languages, id: :school_languages %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :school_owner %>
  </div>

  <div class="field">
    <%= form.label :cycle %>
    <%= form.text_field :cycle, id: :school_cycle %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :school_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :school_longitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
