<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>School name:</strong>
  <%= @school.school_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @school.gender %>
</p>

<p>
  <strong>Levels:</strong>
  <%= @school.levels %>
</p>

<p>
  <strong>School hours:</strong>
  <%= @school.school_hours %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @school.languages %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @school.owner %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @school.cycle %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @school.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @school.longitude %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
